/.idea/
/.vscode/
/.git/

.env

/node_modules/
.package-lock.json

.github
/docs/
/examples/

.npmignore
.gitignore

webpack.config.js
babel.config.js

.eslintrc.js
.eslintignore

.prettierrc
.prettierignore

.travis.yml
.huskyrc.json
.lintstagedrc